# Node.js dependencies
/node_modules/

# Environment configuration files
.env
.env.local

# Build outputs
/dist
/build
/out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files

# Operating system files
.DS_Store
Thumbs.db

# Optional: Exclude specific project files that shouldn't be shared
# /config/development.json
